<div class="container">
    <div class="hero"></div>
  
    <ul class="robot-parts-cta">
      <li>
        <a routerLink="/catalog" [queryParams]="{filter:'phone'}" class="part">
          <img src="assets\images\mobile.avif" alt="Smart Phone" />
          <div>P h o n e</div>
        </a>
      </li>
      <li>
        <a routerLink="/catalog" [queryParams]="{filter:'tablet'}" class="part">
          <img src="/assets/images/tablet.png" alt="Tablet" />
          <div>T a b l e t</div>
        </a>
      </li>
      <li>
        <a routerLink="/catalog" [queryParams]="{filter:'smarttv'}" class="part">
          <img src="/assets/images/tv.png" alt="Smart TV" />
          <div>T V</div>
        </a>
      </li>
    </ul>

  </div>